<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.sec.vd.toast"
        version="0.1.0">

  <name>Toast</name>

  <engines>
    <engine name="cordova" version=">=3.5.2"/>
  </engines>

  <js-module src="www/tvchannel.js" name="tvchannel">
    <clobbers target="toast.tvchannel" />
  </js-module>

  <js-module src="www/tvwindow.js" name="tvwindow">
    <clobbers target="toast.tvwindow" />
  </js-module>

  <!-- browser -->
  <platform name="browser">
      <js-module src="src/browser/tvwindowProxy.js" name="tvwindowProxy">
          <runs />
      </js-module>
      <js-module src="src/browser/tvchannelProxy.js" name="tvchannelProxy">
          <runs />
      </js-module>
  </platform>
</plugin>