@CHARSET "UTF-8";

body {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-color: #222222;
    color: silver;
    text-shadow: #000 3px 3px 3px;
    font-family: 'Open Sans', sans-serif;
}

body:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('lightblue_empty_grid.svg');
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    color: lightgray;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
}

p {
    margin: 8px 0;
}

.left, .right {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.right {
    font-size: 0.9em;
}

.logs {
    border: 0px;
    overflow: auto;
    height: 700px;
    font-family: monospace;
}

#version {
    position: fixed;
    top: 5px;
    left: 5px;
}