<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sec.vd.toasttestrunner" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ToastTestRunner</name>
    <description>
        Jasmine Test runner for Toast project
    </description>
    <author email="kookheon.kim@samsung.com" href="http://sec.co.kr">
        Visual Display Div., Samsung Electronics
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
